name: Rust Continous Integration

on:
  push:
    branches: 
    - '**'
  pull_request:
    branches:
    - '**'

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Format
      run: cargo fmt --all -- --check

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: [format]
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Lint
      run: cargo clippy
      # run: cargo clippy -- -D warnings

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: [lint]
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Run tests
      run: cargo test
